<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>

    <!-- Move the entire nav into a block -->
    {% block navbar %}
     <nav class="purple">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">{% block page %}{% endblock %}</a>
        <ul id="nav-mobile" class="left">
          <li>
            <a href="#" style="font-size:1.5em" class="brand-logo left">
              Logged in As: {{ staff.prefix }} {{ staff.firstname }} {{ staff.lastname }}
            </a>
          </li>
        </ul>
        <ul id="nav-mobile" class="right">
          <li><a href="/logout" style="font-size:1.5em">Logout</a></li>
        </ul>
      </div>
     </nav>    
    {% endblock %}

    <!-- <div class="container" id="content">{% block content %}{% endblock %}</div> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>