{% extends "layout.html" %}

{% block title %}{{ staff.firstname }} {{ staff.lastname }} | Reviews{% endblock %}
{% block page %}{{ staff.firstname }} {{ staff.lastname }} | Reviews{% endblock %}

{{ super() }}
{% block navbar %}
<nav class="purple">
 <div class="nav-wrapper">
   <span class="brand-logo center" style="font-size: 1.5em;">Student Conduct Tracker</span>
   <ul id="nav-mobile" class="left">
     <li>
        <a href="/profile" class="back-button" style="font-size:1.2em; margin-right: 20px;"> <i class="fas fa-arrow-left" style="margin-right: 8px; font-size:1.2em;"></i>Back</a>
     </li>
   </ul>
   <ul id="nav-mobile" class="right">
     <li><a href="/logout" style="font-size:1.2em; margin-right: 20px;">Logout</a></li>
   </ul>
 </div>
</nav>    
{% endblock %}

{% block content %}
<!-- Information -->
<div class="container">
    <div class="row" style="display: flex; align-items: center; padding-top: 20px;">
        <!-- Middle: Full Name and Label -->
        <div class="center-align" style="margin: auto;">
            <h5 style="white-space: nowrap;">{{ staff.firstname }} {{ staff.lastname }}'s Reviews</h5>
        </div>
    </div>
</div>
<!-- Latest Reviews -->
<div class="container" style="width: 100%; max-width: 1200px; margin: 0 auto;">
    <div class="filter-buttons">
        <button onclick="filterReviews(0)" class="filter-button">All Reviews</button>
        <button onclick="filterReviews(5)" class="filter-button">5 Stars</button>
        <button onclick="filterReviews(4)" class="filter-button">4 Stars</button>
        <button onclick="filterReviews(3)" class="filter-button">3 Stars</button>
        <button onclick="filterReviews(2)" class="filter-button">2 Stars</button>
        <button onclick="filterReviews(1)" class="filter-button">1 Star</button>
    </div>
    <hr>
    <!-- Cards for Latest Reviews -->
    <div id="reviews-container" style="display: grid; grid-template-columns: 1fr; gap: 5px; overflow-y: auto; padding-top: 15px; max-height: 425px;">
        {% for review in staff_reviews|reverse %}
            <div class="review-card" data-rating="{{ review.rating }}" style="margin: 10px 0;">
                <div class="card" id="review_card" style="width: 90%;">
                    <div class="card-content">
                      <span class="card-title" style="font-size: 16px;">
                        <b>{{ review.reviewee.firstname }} {{ review.reviewee.lastname }}</b> - {{ review.student_id }}
                      </span>
                      <hr>
                      <p>{{ review.text }}</p>
                      <br>
                      <span>Rating:
                          {% for i in range(5) %}
                              {% if i < review.rating %}
                                  <i class="fas fa-star"></i>
                              {% else %}
                                  <i class="far fa-star"></i>
                              {% endif %}
                          {% endfor %}
                      </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}